<a href="https://colab.research.google.com/github/Elwing-Chou/tibame_20250729/blob/main/tibame_20250814.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import random


score_to_win = 5
win_a, win_b = 0, 0
while True:
    # 0: player A win
    # 1: player B win
    result = random.randint(0, 1)
    if result == 0:
        win_a = win_a + 1
    elif result == 1:
        win_b = win_b + 1

    print(win_a, win_b)
    if (win_a >= score_to_win) or (win_b >= score_to_win):
        # 5:3
        if abs(win_a-win_b) >= 2:
            print("有人贏了")
            break
        # 5:4
        else:
            print("Deuce, 繼續")
    else:
        print("沒人到分數線, 繼續")

if win_a > win_b:
    print("A win")
else:
    print("B win")

In [ ]:
# 4:3 還要繼續
# 5:3 a win
# 5:4 deuce
# 5:5 deuce
# 7:6 deuce
# 7:5 a win
score_to_win = 5
win_a, win_b = 5, 7
if (win_a >= score_to_win) or (win_b >= score_to_win):
    # 5:3
    if abs(win_a-win_b) >= 2:
        print("有人贏了")
        # break
    # 5:4
    else:
        print("Deuce, 繼續")
else:
    print("沒人到分數線, 繼續")

有人贏了



```
完全平方日: 這個日期如果表示成一個數字, 是可以被開根號的(另外一個整數的平方)

最終目標: 給你一個開始點, 你要往後告訴我10個完全平方日

判斷平方日的方法
想法a: 數日期20241001->開根號 確認是否為一個整數, 是的話完全平方日

想法b: 數整數4499->平方 確認是否為一個合理的日期, 是的話完全平方日

下一個完全平方日
a: 20720704: 至少多數1萬個
b: 4552: 103個(O)

B想法: 判斷是否是一個合理的日期

```

In [ ]:
# 定義函式(功能): 參數/回傳值
# 參數: 先準備名稱
def add(a, b):
    c = a + b
    return c
add(3, 5)

8

In [ ]:
def is_leap_year(year):
    if year % 400 == 0:
        return True
    elif year % 100 == 0:
        return False
    elif year % 4 == 0:
        return True
    else:
        return False
is_leap_year(2024)

True

In [ ]:
def is_date_valid(n):
    day = n % 100
    remain = n // 100
    month = remain % 100
    year = remain // 100
    # print(year, month, day)


    # 確認年月日是否合理
    # 年: > 0
    # 月: 12 >=  >= 1
    # 日: 大月小月 2/29
    days_per_month = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
    if year > 0:
        if 1 <= month <= 12:
            days_max = days_per_month[month-1]
            # 處理閏年
            if month == 2 and is_leap_year(year):
                days_max = 29
            if 1 <= day <= days_max:
                # print("Valid!!!!!")
                return True
            else:
                # print("day invalid")
                return False
        else:
            # print("month invalid")
            return False
    else:
        # print("year invalid")
        return False

is_date_valid(20240229)

True

In [ ]:
start = 4499
# 每找到一個就+1, 總共十個
count = 0
while True:
    start_squared = start ** 2
    if is_date_valid(start_squared):
        # +1, 並且印出 4499 式完全平方日 日期式 20241001
        print(start, "valid:", start_squared)
        count = count + 1
        if count == 10:
            break
    start = start + 1

4499 valid: 20241001
4552 valid: 20720704
4575 valid: 20930625
4599 valid: 21150801
4625 valid: 21390625
4639 valid: 21520321
4652 valid: 21641104
4653 valid: 21650409
4668 valid: 21790224
4682 valid: 21921124

In [ ]:
# 月份天數都是兩位數
n = 20240229
day = n % 100
remain = n // 100
month = remain % 100
year = remain // 100
# print(year, month, day)


# 確認年月日是否合理
# 年: > 0
# 月: 12 >=  >= 1
# 日: 大月小月 2/29
days_per_month = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
if year > 0:
    if 1 <= month <= 12:
        days_max = days_per_month[month-1]
        # 處理閏年
        if month == 2 and is_leap_year(year):
            days_max = 29
        if 1 <= day <= days_max:
            print("Valid!!!!!")
        else:
            print("day invalid")
    else:
        print("month invalid")
else:
    print("year invalid")

Valid!!!!!

In [24]:
import time
def isleapyear(year):
    if year % 4 == 0:
        if year % 100 == 0:
            if year % 400 == 0:
                return True
            else:
                return False
        else:
            return True
    else:
        return False

def isleapyear2(year):
    if year % 400 == 0:
        return True
    elif year % 100 == 0:
        return False
    elif year % 4 == 0:
        return True
    else:
        return False

t1 = time.time()
# 理論來說只比了一次
for i in range(1000000):
    isleapyear(5)
t2 = time.time()
print(t2-t1)

# 理論來說比了四次
t1 = time.time()
# 理論來說只比了一次
for i in range(1000000):
    isleapyear2(5)
t2 = time.time()
print(t2-t1)

0.12406444549560547
0.17315220832824707

In [48]:
# def checksquare(n_rooted):
import datetime
import time

count_want = 300
d = datetime.datetime(2024, 10, 1)

t1 = time.time()
count = 0
while True:
    n = int(d.strftime("%Y%m%d"))
    n_rooted = n ** 0.5
    if n_rooted == int(n_rooted):
        # print(d)
        count = count + 1
    delta = datetime.timedelta(days=1)
    d = d + delta
    if count == count_want:
        break
t2 = time.time()
print("第一種:", t2-t1)


t1 = time.time()
n = 4499
count = 0
while True:
    n_squared = n ** 2
    day = n_squared % 100
    remain = n_squared // 100
    month = remain % 100
    year = remain // 100
    try:
        d = datetime.datetime(year, month, day)
        # print(d)
        count = count + 1
        if count == count_want:
            break
    except ValueError:
        pass
    n = n + 1
t2 = time.time()
print("第二種:", t2-t1)

2024-10-01 00:00:00
2072-07-04 00:00:00
2093-06-25 00:00:00
2115-08-01 00:00:00
2139-06-25 00:00:00
2152-03-21 00:00:00
2164-11-04 00:00:00
2165-04-09 00:00:00
2179-02-24 00:00:00
2192-11-24 00:00:00
2207-12-04 00:00:00
2208-06-01 00:00:00
2223-12-25 00:00:00
2242-02-25 00:00:00
2259-10-09 00:00:00
2260-05-16 00:00:00
2280-06-25 00:00:00
2301-12-09 00:00:00
2302-08-04 00:00:00
2303-04-01 00:00:00
2328-06-25 00:00:00
2357-10-25 00:00:00
2396-10-25 00:00:00
2397-08-16 00:00:00
2398-06-09 00:00:00
2399-04-04 00:00:00
2400-02-01 00:00:00
2465-12-25 00:00:00
2468-10-24 00:00:00
2473-07-29 00:00:00
2475-06-25 00:00:00
2477-05-29 00:00:00
2482-03-24 00:00:00
2485-02-25 00:00:00
2489-01-21 00:00:00
2511-01-21 00:00:00
2515-02-25 00:00:00
2518-03-24 00:00:00
2523-05-29 00:00:00
2525-06-25 00:00:00
2527-07-29 00:00:00
2532-10-24 00:00:00
2535-12-25 00:00:00
2602-02-01 00:00:00
2603-04-04 00:00:00
2604-06-09 00:00:00
2605-08-16 00:00:00
2606-10-25 00:00:00
2647-10-25 00:00:00
2678-06-25 00:00:00
2705-04-01 00:00:00
2706-08-04 00:00:00
2707-12-09 00:00:00
2730-06-25 00:00:00
2752-05-16 00:00:00
2753-10-09 00:00:00
2772-02-25 00:00:00
2793-12-25 00:00:00
2810-06-01 00:00:00
2811-12-04 00:00:00
2828-11-24 00:00:00
2843-02-24 00:00:00
2859-04-09 00:00:00
2860-11-04 00:00:00
2874-03-21 00:00:00
2889-06-25 00:00:00
2917-08-01 00:00:00
2943-06-25 00:00:00
2968-07-04 00:00:00
3026-10-01 00:00:00
3037-11-21 00:00:00
3068-05-21 00:00:00
3078-03-04 00:00:00
3108-06-25 00:00:00
3137-12-01 00:00:00
3164-06-25 00:00:00
3191-12-01 00:00:00
3266-12-25 00:00:00
3289-02-25 00:00:00
3305-10-01 00:00:00
3335-06-25 00:00:00
3393-06-25 00:00:00
3421-08-01 00:00:00
3428-10-25 00:00:00
3468-03-21 00:00:00
3475-10-25 00:00:00
3539-06-01 00:00:00
3545-01-16 00:00:00
3558-12-25 00:00:00
3570-06-25 00:00:00
3582-02-25 00:00:00
3618-02-25 00:00:00
3630-06-25 00:00:00
3642-12-25 00:00:00
3659-04-01 00:00:00
3665-09-16 00:00:00
3682-06-24 00:00:00
3699-07-24 00:00:00
3716-12-16 00:00:00
3727-10-25 00:00:00
3749-11-29 00:00:00
3754-01-29 00:00:00
3776-10-25 00:00:00
3781-02-01 00:00:00
3813-06-25 00:00:00
3839-04-16 00:00:00
3875-06-25 00:00:00
3920-01-21 00:00:00
3925-02-25 00:00:00
3935-05-29 00:00:00
3940-07-29 00:00:00
3950-12-25 00:00:00
3974-04-16 00:00:00
3998-03-29 00:00:00
4003-09-29 00:00:00
4036-06-09 00:00:00
4064-06-25 00:00:00
4101-12-16 00:00:00
4110-09-21 00:00:00
4119-07-24 00:00:00
4128-06-25 00:00:00
4137-06-24 00:00:00
4146-07-21 00:00:00
4155-09-16 00:00:00
4164-12-09 00:00:00
4221-10-09 00:00:00
4285-01-16 00:00:00
4323-06-25 00:00:00
4352-04-09 00:00:00
4389-06-25 00:00:00
4493-02-09 00:00:00
4509-12-25 00:00:00
4536-02-25 00:00:00
4571-11-21 00:00:00
4590-06-25 00:00:00
4609-05-21 00:00:00
4628-08-09 00:00:00
4658-06-25 00:00:00
4699-10-25 00:00:00
4754-10-25 00:00:00
4826-08-09 00:00:00
4833-03-04 00:00:00
4851-12-25 00:00:00
4865-06-25 00:00:00
4879-02-25 00:00:00
4921-02-25 00:00:00
4935-06-25 00:00:00
4949-12-25 00:00:00
4966-02-09 00:00:00
4973-07-04 00:00:00
5048-10-25 00:00:00
5105-10-25 00:00:00
5115-11-04 00:00:00
5138-02-24 00:00:00
5148-06-25 00:00:00
5158-11-24 00:00:00
5181-12-04 00:00:00
5220-06-25 00:00:00
5262-05-16 00:00:00
5278-02-25 00:00:00
5307-12-25 00:00:00
5326-08-04 00:00:00
5345-07-21 00:00:00
5386-09-21 00:00:00
5436-11-29 00:00:00
5439-06-25 00:00:00
5442-01-29 00:00:00
5470-08-16 00:00:00
5473-04-04 00:00:00
5510-09-29 00:00:00
5513-06-25 00:00:00
5516-03-29 00:00:00
5577-10-24 00:00:00
5598-03-24 00:00:00
5652-03-24 00:00:00
5673-10-24 00:00:00
5735-03-29 00:00:00
5738-06-25 00:00:00
5741-09-29 00:00:00
5779-04-04 00:00:00
5782-08-16 00:00:00
5811-01-29 00:00:00
5814-06-25 00:00:00
5817-11-29 00:00:00
5869-09-21 00:00:00
5912-07-21 00:00:00
5932-08-04 00:00:00
5952-12-25 00:00:00
5983-02-25 00:00:00
6000-05-16 00:00:00
6045-06-25 00:00:00
6087-12-04 00:00:00
6112-11-24 00:00:00
6123-06-25 00:00:00
6134-02-24 00:00:00
6159-11-04 00:00:00
6170-10-25 00:00:00
6233-10-25 00:00:00
6317-07-04 00:00:00
6325-02-09 00:00:00
6344-12-25 00:00:00
6360-06-25 00:00:00
6376-02-25 00:00:00
6424-02-25 00:00:00
6440-06-25 00:00:00
6456-12-25 00:00:00
6477-03-04 00:00:00
6485-08-09 00:00:00
6569-10-25 00:00:00
6634-10-25 00:00:00
6683-06-25 00:00:00
6719-08-09 00:00:00
6742-05-21 00:00:00
6765-06-25 00:00:00
6788-11-21 00:00:00
6831-02-25 00:00:00
6864-12-25 00:00:00
6884-02-09 00:00:00
7014-06-25 00:00:00
7061-04-09 00:00:00
7098-06-25 00:00:00
7147-01-16 00:00:00
7230-10-09 00:00:00
7305-12-09 00:00:00
7317-09-16 00:00:00
7329-07-21 00:00:00
7341-06-24 00:00:00
7353-06-25 00:00:00
7365-07-24 00:00:00
7377-09-21 00:00:00
7389-12-16 00:00:00
7439-06-25 00:00:00
7477-06-09 00:00:00
7522-09-29 00:00:00
7529-03-29 00:00:00
7562-04-16 00:00:00
7595-12-25 00:00:00
7609-07-29 00:00:00
7616-05-29 00:00:00
7630-02-25 00:00:00
7637-01-21 00:00:00
7700-06-25 00:00:00
7751-04-16 00:00:00
7788-06-25 00:00:00
7834-02-01 00:00:00
7841-10-25 00:00:00
7873-01-29 00:00:00
7880-11-29 00:00:00
7912-10-25 00:00:00
7928-12-16 00:00:00
7953-07-24 00:00:00
7978-06-24 00:00:00
8003-09-16 00:00:00
8012-04-01 00:00:00
8037-12-25 00:00:00
8055-06-25 00:00:00
8073-02-25 00:00:00
8127-02-25 00:00:00
8145-06-25 00:00:00
8163-12-25 00:00:00
8183-01-16 00:00:00
8192-06-01 00:00:00
8290-10-25 00:00:00
8301-03-21 00:00:00
8363-10-25 00:00:00
8374-08-01 00:00:00
8418-06-25 00:00:00
8510-06-25 00:00:00
8558-10-01 00:00:00
8584-02-25 00:00:00
8621-12-25 00:00:00
8744-12-01 00:00:00
8789-06-25 00:00:00
8834-12-01 00:00:00
8883-06-25 00:00:00
8934-03-04 00:00:00
8951-05-21 00:00:00
9004-11-21 00:00:00
9023-10-01 00:00:00
9124-07-04 00:00:00
9168-06-25 00:00:00
9214-08-01 00:00:00
9264-06-25 00:00:00
9291-03-21 00:00:00
9316-11-04 00:00:00
9318-04-09 00:00:00
9347-02-24 00:00:00
9374-11-24 00:00:00
9405-12-04 00:00:00
9407-06-01 00:00:00
9438-12-25 00:00:00
9477-02-25 00:00:00
9512-10-09 00:00:00
9514-05-16 00:00:00
9555-06-25 00:00:00
9598-12-09 00:00:00
9600-08-04 00:00:00
9602-04-01 00:00:00
9653-06-25 00:00:00
9712-10-25 00:00:00
第二種: 0.01734137535095215

In [30]:
d = datetime.datetime(2000, 1, 1)
d.strftime("%Y/%m/%d")

'2000/01/01'

In [37]:
datetime.datetime(2001, 2, 29)

ValueError: day is out of range for month

In [2]:
import time
time.time()

1755601385.9176238